<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/icon.ico" type="image/x-icon">
    <title>Vaccine Finder</title>
</head>

<body>
    <div class="main"></div>
    <div class="navbar">
        <div class="nav-left">
            <a class="nav-link" href="/">
                <p class="tophead">Covid Vaccine Finder</p>
            </a>
        </div>
        <div class="nav-menu">
            <div class="nav-list">
                <a class="nav-link" href="/signup">
                    <p>Sign UP</p>
                </a>
            </div>
            <div class="nav-list">
                <a class="nav-link" href="/about">
                    <p>About</p>
                </a>
            </div>
        </div>
    </div>