<%- include("partials/header.ejs") -%>
<div class="sec-1">


<h1 class="sec-1-left">
    About
</h1>
<p class="sec-1-right" style="text-align: center;">
    This App is still on development mode you can, please mail me at <a class="email" href="mailto:covidvaccinefinder.live@gmail.com">postman</a>  if you find any bug or for any improvements.
</p>

</div>
<%- include("partials/footer.ejs") -%>
