<%- include("partials/header.ejs") -%>  
        <div class="sec-1">
            <h1 class="sec-1-left">Covid Vaccine Finder</h1>
            <p style="text-align: center;" class="sec-1-right">
                Just <a class="signup-link" href="/signup">sign up</a> using the link you will get the email when the vaccine is available in your selected
                pincode.
                This website is still in development mode and due to the limitations of the server, ask me for one time secret key required for sign up.
            </p>
        </div>
<%- include("partials/footer.ejs") -%>